Sooraj-K-R/MuLearn-Project.json
{
  "name": "MuLearn-Project",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        -160
      ],
      "id": "3578ec78-2cfd-43a5-82de-72bf09046604",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1IncMzCxCbL3su4Cx9wtszyZlE6rcjQA2unfF5cxepqA/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1IncMzCxCbL3su4Cx9wtszyZlE6rcjQA2unfF5cxepqA/edit?gid=0#gid=0",
          "mode": "url"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Active",
              "lookupValue": "Yes"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        -160
      ],
      "id": "7f921036-05ef-420f-91af-e3aaad64745c",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZFdMBGwWBoOxceMw",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://newsapi.org/v2/everything?q={{ $json.Keywords }}&sortBy=publishedAt&pageSize=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        -272
      ],
      "id": "2e76d47d-c4fc-4e4e-b1f5-9f2de6957d9e",
      "name": "HTTP Request",
      "credentials": {
        "httpQueryAuth": {
          "id": "3Dm2g5umy7i4JKId",
          "name": "Query Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://hn.algolia.com/api/v1/search?query={{ $json.Keywords }}&tags=story&hitsPerPage=1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        -80
      ],
      "id": "022b83f9-6269-42f7-9435-47b8b9607f07",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nconst inputs = $input.all();\n// This line literally reaches back in time to grab the original data before the HTTP node wiped it\nconst editFieldsData = $('Edit Fields').all(); \n\nfor (let i = 0; i < inputs.length; i++) {\n  const item = inputs[i];\n  // Grab the topic from the exact same row in the previous node\n  const topic = editFieldsData[i].json.topic || editFieldsData[i].json[\" Topic\"] || \"Unknown\";\n  const articles = item.json.articles || [];\n  \n  for (const article of articles) {\n    results.push({\n      json: {\n        title: article.title,\n        url: article.url,\n        description: article.description,\n        source: \"NewsAPI\",\n        topic: topic\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        -272
      ],
      "id": "8f66314b-9090-41c1-a275-4038148c1e0d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nconst inputs = $input.all();\nconst editFieldsData = $('Edit Fields1').all(); \n\nfor (let i = 0; i < inputs.length; i++) {\n  const item = inputs[i];\n  const topic = editFieldsData[i].json.topic || editFieldsData[i].json[\" Topic\"] || \"Unknown\";\n  \n  const hits = item.json.hits || [];\n  \n  for (const hit of hits) {\n    results.push({\n      json: {\n        title: hit.title || \"No Title\",\n        url: hit.url || `https://news.ycombinator.com/item?id=${hit.objectID}`,\n        description: hit.story_text || \"\",\n        source: \"Hacker News\", \n        topic: topic\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        -80
      ],
      "id": "6f7337b7-dcd1-4bef-ba03-55bf7ab73480",
      "name": "Code in JavaScript1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3f107f64-0e34-4fcd-aa84-e08a6579f5cf",
              "name": "topic",
              "value": "={{ $json[\" Topic\"] }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        -272
      ],
      "id": "e4beb66b-eb71-4d6c-90d0-5313424951c7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3f107f64-0e34-4fcd-aa84-e08a6579f5cf",
              "name": "topic",
              "value": "={{ $json[\" Topic\"] }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        -80
      ],
      "id": "631408b3-7bd3-41cd-92f1-4b4249d87f20",
      "name": "Edit Fields1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1120,
        -160
      ],
      "id": "c74f96bb-8722-4e92-8829-c7b3a0f43a01",
      "name": "Merge"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1344,
        -160
      ],
      "id": "847786a5-4fe2-48ff-96d2-dc57706e84b3",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1568,
        -160
      ],
      "id": "4f2115ad-ef39-4200-987f-e57594b178b6",
      "name": "Wait",
      "webhookId": "89383f00-2d2d-41a1-a6eb-e01a37c398e5"
    },
    {
      "parameters": {
        "fromEmail": "krsooraj465@gmail.com",
        "toEmail": "krsooraj465@gmail.com",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1856,
        -400
      ],
      "id": "97fa90ac-f5e2-4494-bf8a-80ef85881821",
      "name": "Send an Email",
      "webhookId": "c27dc241-64b7-412c-ba1e-51006e761698",
      "credentials": {
        "smtp": {
          "id": "ybPUlLwQmnbqOB9W",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst processedArticles = [];\n\n// Reach back to the Merge node to grab the original titles, urls, sources, and topics!\nconst originalData = $('Merge').all(); \n\n// 1. Parse the AI responses & merge back the original data\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const original = originalData[i]?.json || {}; // Safely get the original article properties\n  \n  try {\n    const raw = item.json.text || \"{}\";\n    const cleaned = raw.replace(/```json|```/g, \"\").trim();\n    const parsed = JSON.parse(cleaned);\n\n    // Only keep high-signal articles (Score >= 6)\n    if (parsed.relevance_score >= 6) {\n      processedArticles.push({\n        title: original.title || \"No Title\",         // FIXED: pulling from original data\n        url: original.url || \"#\",                   // FIXED: pulling from original data\n        description: original.description || \"\", \n        source: original.source || \"Unknown\",       // FIXED: pulling from original data\n        topic: original.topic || \"General\",         // FIXED: pulling from original data\n        relevance_score: parsed.relevance_score,\n        sentiment: parsed.sentiment || \"Neutral\",\n        summary: parsed.summary || \"No summary provided.\"\n      });\n    }\n  } catch (e) {\n    // Skip items if AI returned bad JSON\n    continue;\n  }\n}\n\n// 2. Sort by highest score first\nprocessedArticles.sort((a, b) => b.relevance_score - a.relevance_score);\n\n// 3. Find Top Pick (Highest Score)\nconst topPick = processedArticles.length > 0 ? processedArticles[0] : null;\n\n// 4. Group remaining articles by Topic\nconst grouped = {};\nfor (const article of processedArticles) {\n  const topic = article.topic || \"General\";\n  if (!grouped[topic]) grouped[topic] = [];\n  grouped[topic].push(article);\n}\n\n// 5. Build HTML Styling\nconst sentimentColor = { \"Positive\": \"#46d160\", \"Negative\": \"#ea0027\", \"Neutral\": \"#7193ff\" };\nconst sourceColor = { \"NewsAPI\": \"#ff4500\", \"Hacker News\": \"#ff6314\" };\n\nlet topicSections = \"\";\nfor (const [topic, articles] of Object.entries(grouped)) {\n  const articleCards = articles.map(a => `\n    <div style=\"background:#1a1a2e;border-radius:8px;padding:16px;margin-bottom:12px;border-left:3px solid #7193ff;\">\n      <div style=\"display:flex;gap:8px;margin-bottom:8px;\">\n        <span style=\"background:${sourceColor[a.source] || '#7193ff'};color:#fff;font-size:11px;padding:2px 8px;border-radius:4px;\">${a.source}</span>\n        <span style=\"background:${sentimentColor[a.sentiment] || '#7193ff'};color:#fff;font-size:11px;padding:2px 8px;border-radius:4px;\">${a.sentiment}</span>\n        <span style=\"background:#2a2a4a;color:#aaa;font-size:11px;padding:2px 8px;border-radius:4px;\">Score: ${a.relevance_score}/10</span>\n      </div>\n      <a href=\"${a.url}\" style=\"color:#e0e0ff;font-size:15px;font-weight:600;text-decoration:none;\">${a.title}</a>\n      <p style=\"color:#aaa;font-size:13px;margin:8px 0 0 0;\">${a.summary}</p>\n    </div>\n  `).join(\"\");\n\n  topicSections += `\n    <div style=\"margin-bottom:32px;\">\n      <h2 style=\"color:#7193ff;font-size:18px;margin:0 0 16px 0;padding-bottom:8px;border-bottom:1px solid #2a2a4a;\">📌 ${topic}</h2>\n      ${articleCards}\n    </div>\n  `;\n}\n\nconst topPickHTML = topPick ? `\n  <div style=\"background:#1a2a1a;border:1px solid #46d160;border-radius:8px;padding:20px;margin-bottom:32px;\">\n    <div style=\"color:#46d160;font-size:12px;font-weight:700;letter-spacing:1px;margin-bottom:8px;\">⭐ TOP PICK OF THE WEEK</div>\n    <a href=\"${topPick.url}\" style=\"color:#e0e0ff;font-size:16px;font-weight:700;text-decoration:none;\">${topPick.title}</a>\n    <p style=\"color:#aaa;font-size:13px;margin:8px 0 0 0;\">${topPick.summary}</p>\n    <div style=\"margin-top:8px;\">\n      <span style=\"color:#46d160;font-size:12px;\">Topic: ${topPick.topic} · Score: ${topPick.relevance_score}/10</span>\n    </div>\n  </div>\n` : \"<p style='color:#aaa;'>No articles scored high enough this week.</p>\";\n\nconst today = new Date().toLocaleDateString(\"en-IN\", { weekday: \"long\", year: \"numeric\", month: \"long\", day: \"numeric\" });\n\nconst html = `\n<!DOCTYPE html>\n<html>\n<head><meta charset=\\\"UTF-8\\\"></head>\n<body style=\"margin:0;padding:0;background:#0d0d1a;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',sans-serif;\">\n  <div style=\"max-width:640px;margin:0 auto;padding:32px 16px;\">\n    \n    <!-- Header -->\n    <div style=\"text-align:center;margin-bottom:32px;\">\n      <div style=\"font-size:28px;font-weight:800;color:#e0e0ff;letter-spacing:-0.5px;\">📡 TrendPulse</div>\n      <div style=\"color:#7193ff;font-size:13px;margin-top:4px;\">Your weekly AI intelligence digest</div>\n      <div style=\"color:#555;font-size:12px;margin-top:4px;\">${today}</div>\n    </div>\n\n    <!-- Top Pick -->\n    ${topPickHTML}\n\n    <!-- Topic Sections -->\n    ${topicSections}\n\n    <!-- Footer -->\n    <div style=\"text-align:center;padding-top:24px;border-top:1px solid #2a2a4a;\">\n      <p style=\"color:#444;font-size:11px;\">Generated automatically by TrendPulse · n8n + Gemini</p>\n    </div>\n\n  </div>\n</body>\n</html>\n`;\n\nreturn [{ json: { html, subject: `📡 TrendPulse Weekly Digest — ${today}` } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        -400
      ],
      "id": "fa3e1a84-d713-46a6-971a-4ef6d46cf514",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a trend analyst. Evaluate the following article and return ONLY a valid JSON object. Do not include markdown formatting, code fences, or explanations.\n\nTitle: {{$json.title}}\nDescription: {{$json.description}}\nTopic: {{$json.topic}}\n\nReturn exactly this structure:\n{\n  \"relevance_score\": <integer from 1 to 10>,\n  \"sentiment\": \"<Positive or Negative or Neutral>\",\n  \"summary\": \"<one sentence plain English summary under 20 words>\"\n}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1792,
        -80
      ],
      "id": "b8df17dd-bfc9-4cb8-ae40-5f05927e3838",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "maxTokensToSample": 4096
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1872,
        144
      ],
      "id": "8e7ee6a2-51e2-426d-87d5-3559dc7310d7",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "ms7z4xGTwjGbya9T",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b521d907-bb8e-43f6-8aef-abb4d3cec583",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "05b114f7d7e1721f430aae4cc28180f713e05fce93f7f905a4dcfc2213761d2b"
  },
  "nodeGroups": [],
  "id": "0A79KYcJISkvF7Ma",
  "tags": []
}